/* open web framework main style */

/* general */
.owf-links { font-size: 12px; text-align: center; }
.owf-footer { font-size: 12px; }

.owf-dialog .ui-header .ui-btn-icon-notext { display: none; }

/* page specific */
.owf-login-field { text-align: center; }
.owf-login-field input { text-align: center; }
