#logo {
	display:inline;
}
#general_menu{
	display:inline;
}
.link_bracket, .link_bracket a{
	color:blue;
}
.link_bracket:before{
	content :"[ "
}
.link_bracket:after{
	content :" ]"
}
.green_text{
	color:green;
}
.red_text{
	color:red;
}
.orange_text{
	color:orange;
}
.blue_text{
	color:blue;
}








