body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	background: #FFFFFF;
}

a img {
	border: 0;
}


/* errors */

.page_error {
	background-color: #ff6d6d;
	width: 100%;
}
.page_warning {
	background-color: #ffd1d1;
	width: 100%:
}
.page_notice {
	background-color: #a6e8b0;
	width: 100%;
}
.page_error p, .page_warning p, .page_notice p {
	margin: 0;
}
.page_error a, .page_warning a, .page_notice a {
	text-decoration: none;
}
.page_error a:hover, .page_warning a:hover, .page_notice a:hover {
	text-decoration: underline;
}


/* header */

#header {
	width: 100%;
	height: 65px;
	background: #819BD6;
}
#header h1 {
	margin: 0;
	padding: 15px 0 11px 80px;
	color: #FFFFFF;
	font-size: 25px;
	font-style: bold;
	background: url('../img/logo.png') left center no-repeat;
}
#search {
	float: right;
	margin-top: 2.2em;
	margin-right: 2em;
	height: 0;
}


/* help */
#help {
	padding-left: 290px;
	background: #819BD6;
}
#help h2 {
	font-size: 13px;
	font-style: bold;
	margin: 0;
}
#help p {
	line-height: 15px;
	font-size: 10px;
	margin-bottom: 0;
	padding-bottom: 15px;
}


/* sidebar */

#sidebar {
	position: absolute;
	top: 81px;
	left: 0;
	width: 280px;
	background: #FFFFFF;
	border-right: 3px solid #819BD6;
	color: #888888;
	overflow: hidden;
}
#sidebar_header {
	display: block;
	background: #819BD6;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
}
#sidebar_header a {
	text-decoration: none;
	color: #000000;
}
#sidebar_title {
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 0 5px 5px;
	margin-bottom: 10px;
}
#sidebar ul {
	padding-left: 5px;
	width: 100%;
}
#sidebar > ul {
	padding-left: 5px;
	margin-top: 5px;
}
#sidebar li {
	list-style: none;
	font-size: 12px;
	padding: 0 0 0 21px;
	background-position: left 3px;
	background-repeat: no-repeat;
}
#sidebar li a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100%;
	padding: 5px;
}
#sidebar li.profil {
	background-image: url('../img/icons/16x16/profil.png');
}
#sidebar li.medias {
	background-image: url('../img/icons/16x16/medias.png');
}
#sidebar li.search {
	background-image:  url('../img/icons/16x16/search.png');
}
#sidebar li.new_cat {
	background-image: url('../img/icons/16x16/new_cat.png');
}
#sidebar li.new_media {
	background-image: url('../img/icons/16x16/new_media.png');
}
#sidebar li.time {
	background-image: url('../img/icons/16x16/time.png');
}
#sidebar li.comments {
	background-image: url('../img/icons/16x16/comments.png');
}
#sidebar li.users {
	background-image: url('../img/icons/16x16/users.png');
}
#sidebar li.config {
	background-image: url('../img/icons/16x16/config.png');
}
#sidebar li.home {
	background-image: url('../img/icons/16x16/home.png');
}
#sidebar li.trashcan {
	background-image: url('../img/icons/16x16/trashcan.png');
}
#sidebar li.drafts {
	background-image: url('../img/icons/16x16/drafts.png');
}
#sidebar li.cat_open {
	background-image: url('../img/icons/16x16/cat_open.png');
}
#sidebar li.cat_close {
	background-image: url('../img/icons/16x16/cat_close.png');
}
#sidebar li.option {
	font-size: 10px;
	font-weight: bold;
	padding: 5px 0 10px 5px;
}
#sidebar li a:hover, #sidebar li.selected > a {
	background-color: #BFE1BC;
}
#sidebar li.option a:hover {
	background-color: inherit;
	text-decoration: underline;
}


/* separation */

#separation {
	position: fixed;
	left: 0;
	top: 65px;
	width: 280px;
	height: 100%;
	border-right: 3px solid #819BD6;
}


/* hint */

#hint {
	padding-left: 290px;
	height: 50px;
	background: url('../img/banner.png') right center no-repeat #96B0E3;
}
#hint h2 {
	margin: 0;
	letter-spacing: 4px;
	font-size: 13px;
	font-weight: normal;
}
#hint p {
	font-size: 12px;
	margin: 0;
}


/* main */

#main {
	margin-left: 280px;
	background: #FFFFFF;
	font-size: 11px;
}
#main h1 {
	margin: 2em 1em 1em 1em;
	font-size: 20px;
	width: 95%;
	border-bottom: 1px dotted #819BD6;
	color: #5d6f99;
}
#main table {
	font-size: 11px;
}


/* table list */

#main table.list {
	border-collapse: collapse;
	width: 100% !important;
	width: 83%;
	margin-top: -1px;
}
#main table.list, #main table.form {

}
#main table.list a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dotted;
}
#main table.list a:hover {

}
#main table.list .actions a {
	border: none;
	margin-right: 7px;
}
#main table.list tr img {
	vertical-align: middle;
}
#main table.list th, #main table td {
	padding: 2px 0 0 10px;
}
#main table.list thead, #main table tfoot {
	text-align: left;
}
#main table.list tfoot th {
	padding-top: 10px;
}
#main table.list thead {
	background: #819BD6;
}
#main table.list tr.locked {
	background: #ffd1d1;
}
#main table.list tr.deleted, #main table.list tr.deleted a {
	color: #888888;
}
#main table.list tr.disabled {
	background: #e5e5e5;
}
#main table.list tr.notpublished, #main table tr.notpublished a {
	color: #888888;
}
#main table.list tr.selected, #main table.list tr:hover {
	background: #BFE1BC;
}
#main table.list .empty
{
	text-align: center;
}
#main .table_views {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 11px;
}
#main .table_views img {
	vertical-align: middle;
}
#main .table_views a {
	color: #000000;
	text-decoration: underline;
}


/* index */

#main table#index td.icon {
	vertical-align: top;
	text-align: center;
	width: 64px;
}
#main table#index td.links {
	vertical-align: top;
	width: 300px;
	color: #CCCCCC;
}
#main table#index td.links a {
	color: #000000;
	text-decoration: none;
}
#main table#index li {
	list-style: square;
}
