body {
	font-family: Tahoma, Verdana, Arial, sans-serif; 
	font-size: 11px;
	background-image: url('../img/back_grey.png');
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
}

img {
	vertical-align: middle;
}

.spacer {
	clear: both;
}

.admin_content {
	background: #FFFFFF;
}

.admin_subtitle {
	font-size: 22px;
	font-weight: bold;
}

.admin_session {
	font-size: 11px;
	color: #a10e09; 
}

.admin_session img {
	margin: 2px;
}

.admin_session img.selected,
.admin_session a:hover img {
	border: 2px solid #0000ff;
	margin: 0;
}

.admin_subtop {
	font-size: 11px;
	color: #ffffff; 
}

.admin_body {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}

.admin_bottom {
	font-size: 9px;
}

.admin_bottom a, a:hover {
	color: #a10e09; 
	text-decoration: none; 
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Menu
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#admin_menu li. a {
	border: 0;
}

#admin_menu.yuimenubar {
	border: 0;
}

#admin_menu.yuimenubar ul.first-of-type {
	background: #fff;
}

#admin_menu.yuimenubar li.yuimenubaritem {
	padding: 0;
	border: 0;
}

#admin_menu.yuimenubar li.yuimenubaritem a {
	font-size: 11px;
	margin: 0;
	border: 0;
	cursor: pointer;
}

#admin_menu.yuimenubar li.yuimenubaritem a:hover {
	background-color: #a10e09;
	color: #ffffff;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Cats tree
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#cats_tree .ygtvfocus,
#cats_tree .ygtvfocus .ygtvlabel,
#cats_tree .ygtvfocus .ygtvlabel:link,
#cats_tree .ygtvfocus .ygtvlabel:visited,
#cats_tree .ygtvfocus .ygtvlabel:hover {
	background-color: transparent;
}

/* first or middle sibling, no children */
#cats_tree .ygtvtn { background: url(../img/treeview/tn.gif) 0 0 no-repeat; width:32px; height:22px; }

/* first or middle sibling, collapsable */
#cats_tree .ygtvtm { background: url(../img/treeview/tm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
#cats_tree .ygtvtmh { background: url(../img/treeview/tmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
#cats_tree .ygtvtp { background: url(../img/treeview/tp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
#cats_tree .ygtvtph { background: url(../img/treeview/tph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
#cats_tree .ygtvln { background: url(../img/treeview/ln2.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
#cats_tree .ygtvlm { background: url(../img/treeview/lm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
#cats_tree .ygtvlmh { background: url(../img/treeview/lmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
#cats_tree .ygtvlp { background: url(../img/treeview/lp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
#cats_tree .ygtvlph { background: url(../img/treeview/lph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Loading icon */
#cats_tree .ygtvloading { background: url(../img/treeview/loading.gif) 0 0 no-repeat; width:16px; height:22px; }

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
#cats_tree .ygtvdepthcell { background: url(../img/treeview/vline.gif) 0 0 no-repeat; width:17px; height:22px; }

#cats_tree .ygtvblankdepthcell { width:17px; height:22px; }

/* the style of the div around each node */
#cats_tree .ygtvitem { }

#cats_tree .ygtvitem table{
    margin-bottom:0;
}
#cats_tree .ygtvitem td {
    border:none;padding:0;
} 



/* the style of the div around each node's collection of children */
#cats_tree .ygtvchildren { }  
* html #cats_tree .ygtvchildren { height:1%; }  

/* the style of the text label in ygTextNode */
#cats_tree .ygtvlabel, #cats_tree .ygtvlabel:link, #cats_tree .ygtvlabel:visited, #cats_tree .ygtvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Media info
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.media_info {
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 90%;
}

.media_info table {
	width: 100%;
	border-collapse: collapse;
}

.media_info table tr {
	border-top: 1px solid #cccccc;
}

.media_info table tr.first {
	border-top: none;
}

.media_info table td.label {
	font-weight: bold;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Errors
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.errors ul {
	list-style-image: url('../../../img/icons/16x16/error.png');
	font-weight: bold;
	color: #a10e09;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Sidebar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.admin_sidebar {
	border-right: 1px dashed #e2e1dd;
	padding-bottom: 20px;
}

.admin_sidebar h2 {
	border-bottom: 1px dotted #000000;
	margin-top: 20px;
}

.admin_sidebar a, a:hover {
	color: #a10e09; 
	text-decoration: none; 
}

.admin_sidebar ul {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.admin_sidebar li {
/* 	list-style: none; */
/* 	font-size: 12px; */
/* 	padding: 0 0 0 10px; */
/* 	background-position: left 3px; */
/* 	background-repeat: no-repeat; */
}

.admin_sidebar_element {
	width: 270px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

.admin_sidebar_element ul li {
	list-style-image: url('../img/puce.gif');
	list-style-position: inside;
	padding-bottom: 3px;
}

.admin_sidebar_title {
	font-size: 17px;
/* 	font-weight: bold; */
}

.admin_sidebar_data {
	font-size: 11px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Route list
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.admin_route_list_unselected {

}

.admin_route_list_selected {
	font-weight: bold;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Admin menu
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#admin_menu .yuimenubaritem  {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

#admin_menu .yuimenubaritemlabel {
	font-size: 14px;
}

#admin_menu .yuimenuitem {
	font-size: 14px;
}


 #admin_menu .yuimenubaritem a, .yuimenubaritem a:hover {
	font-size: 14px;
}

#admin_menu .yuimenubaritemlabel a, .yuimenubaritemlabel a:hover {
	font-size: 14px;
}

#admin_menu .yuimenuitem a, .yuimenuitem a:hover {
	font-size: 14px;
}


a {
	cursor: pointer;
}

a img {
	border: 0;
}


/* general */

.required {
	color: #ff0000;
}

td.hint {
	font-size: 10px;
	text-align: justify;
}


/* yui */

.yui-panel input,
.yui-panel textarea,
.yui-panel select {
	width: 100%;
	font-size: 11px;
}
.yui-panel input {
	background: url('../img/forminput.gif') left bottom repeat-x;
	border: 0;
}
.yui-panel input.radio {
	background: none;
	width: auto;
}
.yui-panel textarea {
	border: 0;
}


/* errors */

.banner_error {
	background-color: #ff6d6d;
	width: 100%;
	color: #ffffff;
}
.banner_warning {
	background-color: #ffd1d1;
	width: 100%:
}
.banner_notice {
	background-color: #a6e8b0;
	width: 100%;
}
.banner_error p, .banner_warning p, .banner_notice p {
	margin: 0;
}
.banner_error a, .banner_warning a, .banner_notice a {
	text-decoration: none;
	color: #000000;
}
.banner_error a {
	color: #ffffff;
}


/* header */

#header {
	width: 100%;
	height: 65px;
	background: #819BD6;
}
#header h1 {
	margin: 0;
	padding: 15px 0 11px 80px;
	color: #FFFFFF;
	font-size: 25px;
	font-style: bold;
	background: url('../img/logo.png') left center no-repeat;
}
#search {
	float: right;
	margin-top: 2.2em;
	margin-right: 2em;
	height: 0;
}


/* help */
#help {
	padding-left: 290px;
	background: #819BD6;
}
#help h2 {
	font-size: 13px;
	font-style: bold;
	margin: 0;
}
#help p {
	line-height: 15px;
	font-size: 10px;
	margin-bottom: 0;
	padding-bottom: 15px;
}


/* sidebar */

#sidebar {
	position: absolute;
	top: 81px;
	left: 0;
	width: 280px;
	background: #FFFFFF;
	border-right: 3px solid #819BD6;
	color: #888888;
	overflow: hidden;
}
#sidebar_header {
	display: block;
	background: #819BD6;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
}
#sidebar_header a {
	text-decoration: none;
	color: #000000;
}
#sidebar h2 {
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 15px 5px 5px 5px;
	margin-bottom: 10px;
	margin-top: 0;
	border-bottom: 1px dashed #cccccc;
}
/*#sidebar ul {
	padding-left: 5px;
	width: 100%;
}
#sidebar > ul {
	padding-left: 5px;
	margin-top: 5px;
}
#sidebar li {
	list-style: none;
	font-size: 12px;
	padding: 0 0 0 21px;
	background-position: left 3px;
	background-repeat: no-repeat;
}
#sidebar li.section_l0 {
	background-image: url('../../../img/icons/16x16/section_l0.png');
	font-weight: bold;
}
#sidebar li.section_l1 {
	background-image: url('../../../img/icons/16x16/section_l1.png');
}
#sidebar li.home {
	background-image: url('../../../img/icons/16x16/home.png');
	font-weight: bold;
}
#sidebar li.cat_open {
	background-image: url('../../../img/icons/16x16/cat_open.png');
}
#sidebar li a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100%;
	padding: 5px;
	-moz-border-radius: 5px 0 0 5px;
}
#sidebar li.option {
	font-size: 10px;
	font-weight: bold;
	padding: 5px 0 10px 5px;
}
#sidebar li a:hover, #sidebar li.selected > a {
	background-color: #BFE1BC;
}
#sidebar li.option a:hover {
	background-color: inherit;
	text-decoration: underline;
}*/


/* separation */

#separation {
	position: fixed;
	left: 0;
	top: 65px;
	width: 280px;
	height: 100%;
	border-right: 3px solid #819BD6;
}


/* hint */

#hint {
	padding-left: 290px;
	height: 50px;
	background: url('../img/banner.png') right center no-repeat #96B0E3;
}
#hint h2 {
	margin: 0;
	letter-spacing: 4px;
	font-size: 13px;
	font-weight: normal;
}
#hint p {
	font-size: 12px;
	margin: 0;
}


/* main */

#main {
	width: 99%;
}
#main h1 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	width: 100%;
	border-bottom: 1px dotted #000000;
	color: #000000;
}
#main table {
	font-size: 11px;
}


.form_dialog .note {
	font-style: italic;
	font-size: 10px;
}

/* table topnav */

#main .table_topnav {
	width: 100%;
	height: 35px;
}
#main .table_topnav button {
	height: 30px;
}
#main .table_topnav_left {
	float: left;
}
#main .table_topnav_right {
	float: right;
}

/* table list */

#main table.list {
	border-collapse: collapse;
	width: 100%;
}
#main table.list .icon {
	width: 16px;
}
#main table.list .id {
	width: 20px;
}
#main table.list .strong {
	font-weight: bold;
}
#main table.list .key {
	font-weight: bold;
}
#main table.list, #main table.form {

}
#main table.list a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dotted;
}
#main table.list a:hover {

}
#main table.list .title {
	width: 100px;
}
#main table.list .actions a {
	border: none;
	margin-right: 7px;
}
#main table.list tr img {
	vertical-align: middle;
}
#main table.list th, #main table td {
	padding: 2px 0 0 10px;
}
#main table.list thead, #main table tfoot {
	text-align: left;
}
#main table.list thead {
	background-color: #a10e09;
	color :#ffffff;
}
#main table.list thead tr th {
	padding-top: 5px;
	padding-bottom: 5px;
}
#main table.list.medias tr {
	cursor: move;
}
#main table.list tr.alt {
	background-color: #f3f3f3;
}
#main table.list tr.god {
	background-color: #ffd1d1;
}
#main table.list tr.locked {
	background-color: #ffd1d1;
}
#main table.list tr.deleted, #main table.list tr.deleted a {
	color: #888888;
}
#main table.list tr.disabled {
	background-color: #e5e5e5;
}
#main table.list tr.notpublished, #main table tr.notpublished a {
	color: #888888;
}
#main table.list tbody tr.selected {
	background-color: #efa5a3;
}

#main table.list tbody tr:hover {
	background-color: #e2e1dd;
}
#main table.list .empty
{
	text-align: center;
}
#main .table_views {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 11px;
}
#main .table_views img {
	vertical-align: middle;
}
#main .table_views a {
	color: #000000;
	text-decoration: underline;
}


/* index */

#main table#index {
	text-align: left;
	padding-left: 10px;
	margin-top: 20px;
	text-align: center;
}
#main table#index td.icon {
	vertical-align: top;
	width: 64px;
}
#main table#index td.links {
	vertical-align: top;
	width: 300px;
	color: #CCCCCC;
}
#main table#index td.links a {
	color: #000000;
	text-decoration: none;
}
#main table#index li {
	list-style: square;
}



/* errors */

#main .warning {
	margin-top: 2em;
	border: 1px solid #ff8a8a;
	background: #ffd1d1;
	width: 50%;
	-moz-border-radius : 10px;
	text-align: left;
}
#main .warning h2 {
	margin: 0;
	padding: 3px 0 3px 25px;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: bold;
	background: url('../../../img/icons/16x16/notice.png') left center no-repeat #ff8a8a;
	-moz-border-radius: 9px;
	text-align: center;
}
#main .warning .text {
	margin-top: 20px;
	margin-bottom: 20px;
}
#main .warning ul {
	list-style: square;
}
#main .notice h2 {
	margin: 0;
	padding: 3px 0 3px 25px;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: bold;
	background: url('../../../img/icons/16x16/notice.png') left center no-repeat #819BD6;
	-moz-border-radius: 9px;
}
#main .notice dl {
	margin: 5px 0 5px 5px;
}
#main .notice dt {
	display: inline;
}
#main .notice dt img {
	vertical-align: middle;
	margin: 2px 0 3px 0;
}
#main .notice dd {
	display: inline;
	margin: 0 0 0 5px;
}


/* message */

#main .message {
	margin-top: 2em;
	border: 1px solid #819BD6;
	background: #b6CAED;
	width: 50%;
	-moz-border-radius : 10px;
}


/* section menu */

#main ul.section_menu {
	margin: 0;
	padding: 0;
}

#main ul.section_menu > li {
	float: left;
	list-style: none;
	text-align: center;
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100px;
}

#main ul.section_menu a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#main ul.section_menu a:hover {
	text-decoration: underline;
}

#main ul li ul {
	width: 550px;
	list-style: square;
}

#main ul li ul {
	padding-left: 20px;
}


/* ddlist */

.ddlist ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

.ddlist ul li {
	list-style: none;
	margin: 1px;
	cursor: move;
	background-color: #fbcaca;
	border:1px solid #ec9898;
	padding: 2px;
}

.ddlist ul li:hover {
	background-color: #ffe0e0;
}

.ddlist ul li img {
	vertical-align: middle;
}

.ddlist .submit {
	width: 100%;
	height: 25px;
}
