body {
	font-family: Ubuntu, Tahoma, Verdana, Arial, sans-serif; 
	font-size: 12px;
	background-repeat: repeat;
	
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 5px;
}

a, a:hover {
/* 	color: #a10e09;  */
/* 	text-decoration: none; */
/* 	border: 0px; */
}

button {
	margin: 0px;
	padding: 0px;
}

img {
	vertical-align: middle;
	border: 0px;
}

/*input, select, submit {
	font-family: Ubuntu, Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
}*/


#adm_top {
/* 	background-color: #a10e09; */
}


#adm_top_row {
	color: #ffffff;
	height: 100px;
	vertical-align: bottom;
	background-color: #414141;
}

#adm_logo {
	font-size: 25px;
	font-weight: bold;
}

#adm_language {
	font-size: 25px;
	font-weight: bold;


}

#adm_session {
	
}

#adm_menu {

}

#adm_bottom_row {
	font-size: 10px;	
	text-align: center;
	
	color: #ffffff;
	height: 40px;
	vertical-align: top;
	background-color: #414141;
	
}
#adm_bottom_row a, #adm_bottom_row a:hover {
	color: #ffffff;
	text-decoration: underline;
	border: 0px;
}


#adm_content {
	text-align: left;
}

#adm_content h1 {
	font-size: 14px;
	text-align: left;
}

/* Menu admin */

.adm_menu_top{
	background: #414141; /*background of menu bar (default state)*/
	width: 100%;
}

.adm_menu_top ul{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.adm_menu_top ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.adm_menu_top ul li a{
	display: block;
	background: #414141; /*background of menu items (default state)*/
	color: white;
	padding: 8px 10px;
	border-right: 1px solid #778;
	color: #2d2b2b;
	text-decoration: none;
}

* html .adm_menu_top ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.adm_menu_top ul li a:link, .adm_menu_top ul li a:visited{
	color: white;
}

.adm_menu_top ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: black; 
	color: white;
}

.adm_menu_top ul li a:hover{
	background: black; /*background of menu items during onmouseover (hover state)*/
	color: white;
}
	
/*1st sub level menu*/
.adm_menu_top ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.adm_menu_top ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.adm_menu_top ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.adm_menu_top ul li ul li a{
	width: 160px; /*width of sub menus*/
	padding: 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .adm_menu_top{height: 1%;} /*Holly Hack for IE7 and below*/

.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}


.ddshadow { /*shadow for NON CSS3 capable browsers*/
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
	opacity: 0.8;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Dataset table
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
table.dataset_data_table {
	border-collapse: collapse;
	width: 100%;
}
table.dataset_data_table td {
	height: 25px;
}
table.dataset_data_table .icon {
	width: 16px;
}
table.dataset_data_table .id {
	width: 20px;
}
table.dataset_data_table .strong {
	font-weight: bold;
}
table.dataset_data_table .key {
	font-weight: bold;
}
table.dataset_data_table, table.form {

}
table.dataset_data_table .title {
	width: 100px;
}
table.dataset_data_table .actions a {
	border: none;
	margin-right: 7px;
}
table.dataset_data_table tr img {
	vertical-align: middle;
}
table.dataset_data_table th table td {
	padding: 2px 0 0 10px;
}
table.dataset_data_table thead table tfoot {
	text-align: left;
}
table.dataset_data_table thead {
	background-position: bottom; 
	background-color: #000000;
	color :#ffffff;
}
table.dataset_data_table thead a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
table.dataset_data_table thead a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
table.dataset_data_table.reorderable tr {
	cursor: move;
}
table.dataset_data_table thead tr th {
	padding-top: 5px;
	padding-bottom: 5px;
}
table.dataset_data_table.medias tr {
	cursor: move;
}
table.dataset_data_table tr.alt {
	background-color: #f3f3f3;
}
table.dataset_data_table tr.alt:hover {
	background-image: none; 
}
table.dataset_data_table tr.god {
	background-color: #ffd1d1;
}
table.dataset_data_table tr.locked {
	background-color: #ffe1e1;
}
table.dataset_data_table tr.error {
	background-color: #ffd1d1;
}
table.dataset_data_table tr.ok {
	background-color: #b2f999;
}
table.dataset_data_table tr.deleted, table.dataset_data_table tr.deleted a {
	color: #888888;
}
table.dataset_data_table tr.disabled {
	background-color: #e5e5e5;
}
table.dataset_data_table tr.notpublished, table tr.notpublished a {
	color: #888888;
}
table.dataset_data_table tbody tr.selected {
	background-color: #efa5a3;
}

table.dataset_data_table tbody tr:hover {
	background-color: #e2e1dd;
	color: #000;
}
table.dataset_data_table .empty {
	text-align: center;
}



/* index */

table#index {
	text-align: left;
	padding-left: 10px;
	margin-top: 20px;
	text-align: center;
}
table#index td.icon {
	vertical-align: top;
	width: 64px;
}
table#index td.links {
	vertical-align: top;
	width: 300px;
	color: #CCCCCC;
}
table#index td.links a {
	color: #000000;
	text-decoration: none;
}
table#index li {
	list-style: square;
}
